Connected Services/CP_PersonalClientModi/CRM_LAIntegration_PersonalClientModify_PersonalClientModifyReqResPort.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://CRM_LAIntegration.InputSchemaforPersonalClientModify" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://CRM_LAIntegration.InputSchemaforPersonalClientModify" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PersonalClientModify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="118" maxOccurs="unbounded" name="DynamicCase">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Key" type="xs:string" />
              <xs:element name="Value" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>