Web References/PremiumRecieptNew/BOsTesting_Orchestration_1_PremiumPaymentRequest3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://BOsTesting.PortalInputSchemaforReinstatementAmount" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://BOsTesting.PortalInputSchemaforReinstatementAmount" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ReinstatementAmount">
    <xs:annotation>
      <xs:appinfo />
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TransactionId" type="xs:string" />
        <xs:element name="ContractNumber" type="xs:string" />
        <xs:element name="ReinstatementAmountFlag" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>