Connected Services/CRMCallCreation/Feedback.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Feedback" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IFeedback_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.1.8.253/SUD_FeedbackService/Feedback.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.1.8.253/SUD_FeedbackService/Feedback.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SUD.CRM.Portal" />
      <xsd:import schemaLocation="http://10.1.8.253/SUD_FeedbackService/Feedback.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFeedback_CreateGrievance_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGrievance" />
  </wsdl:message>
  <wsdl:message name="IFeedback_CreateGrievance_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGrievanceResponse" />
  </wsdl:message>
  <wsdl:message name="IFeedback_CreateGrievance_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/SUD.CRM.Portal" name="detail" element="q1:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IFeedback_CreateRequestQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRequestQuery" />
  </wsdl:message>
  <wsdl:message name="IFeedback_CreateRequestQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRequestQueryResponse" />
  </wsdl:message>
  <wsdl:message name="IFeedback_CreateRequestQuery_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/SUD.CRM.Portal" name="detail" element="q2:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IFeedback_GetCaseSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseSummary" />
  </wsdl:message>
  <wsdl:message name="IFeedback_GetCaseSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IFeedback_GetCaseSummary_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/SUD.CRM.Portal" name="detail" element="q3:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IFeedback_GetCaseDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseDetails" />
  </wsdl:message>
  <wsdl:message name="IFeedback_GetCaseDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCaseDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IFeedback_GetCaseDetails_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/SUD.CRM.Portal" name="detail" element="q4:ServiceException" />
  </wsdl:message>
  <wsdl:portType name="IFeedback">
    <wsdl:operation name="CreateGrievance">
      <wsdl:input wsaw:Action="http://tempuri.org/IFeedback/CreateGrievance" message="tns:IFeedback_CreateGrievance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFeedback/CreateGrievanceResponse" message="tns:IFeedback_CreateGrievance_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFeedback/CreateGrievanceServiceExceptionFault" name="ServiceExceptionFault" message="tns:IFeedback_CreateGrievance_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateRequestQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/IFeedback/CreateRequestQuery" message="tns:IFeedback_CreateRequestQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFeedback/CreateRequestQueryResponse" message="tns:IFeedback_CreateRequestQuery_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFeedback/CreateRequestQueryServiceExceptionFault" name="ServiceExceptionFault" message="tns:IFeedback_CreateRequestQuery_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCaseSummary">
      <wsdl:input wsaw:Action="http://tempuri.org/IFeedback/GetCaseSummary" message="tns:IFeedback_GetCaseSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFeedback/GetCaseSummaryResponse" message="tns:IFeedback_GetCaseSummary_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFeedback/GetCaseSummaryServiceExceptionFault" name="ServiceExceptionFault" message="tns:IFeedback_GetCaseSummary_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCaseDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IFeedback/GetCaseDetails" message="tns:IFeedback_GetCaseDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFeedback/GetCaseDetailsResponse" message="tns:IFeedback_GetCaseDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFeedback/GetCaseDetailsServiceExceptionFault" name="ServiceExceptionFault" message="tns:IFeedback_GetCaseDetails_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IFeedback" type="tns:IFeedback">
    <wsp:PolicyReference URI="#WSHttpBinding_IFeedback_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateGrievance">
      <soap12:operation soapAction="http://tempuri.org/IFeedback/CreateGrievance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap12:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateRequestQuery">
      <soap12:operation soapAction="http://tempuri.org/IFeedback/CreateRequestQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap12:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCaseSummary">
      <soap12:operation soapAction="http://tempuri.org/IFeedback/GetCaseSummary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap12:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCaseDetails">
      <soap12:operation soapAction="http://tempuri.org/IFeedback/GetCaseDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap12:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Feedback">
    <wsdl:port name="WSHttpBinding_IFeedback" binding="tns:WSHttpBinding_IFeedback">
      <soap12:address location="http://10.1.8.253/SUD_FeedbackService/Feedback.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://10.1.8.253/SUD_FeedbackService/Feedback.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>