Connected Services/CRMCallCreation/Feedback2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.1.8.253/SUD_FeedbackService/Feedback.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SUD.CRM.Portal" />
  <xs:element name="CreateGrievance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SUD.CRM.Portal" minOccurs="0" name="objCreateGrievance" nillable="true" type="q1:Grievance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGrievanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateGrievanceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRequestQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SUD.CRM.Portal" minOccurs="0" name="objCreateRequestQuery" nillable="true" type="q2:RequestQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRequestQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateRequestQueryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaseSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SUD.CRM.Portal" minOccurs="0" name="ObjFilterCaseSummary" nillable="true" type="q3:FilterCaseSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaseSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SUD.CRM.Portal" minOccurs="0" name="GetCaseSummaryResult" nillable="true" type="q4:CaseList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaseDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaseDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SUD.CRM.Portal" minOccurs="0" name="GetCaseDetailsResult" nillable="true" type="q5:CaseDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>