Web References/SendingMailSoapClientNew/SendMail2User_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://SendingMail.sendmaildetails" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s2="http://SendingMail.SendMailOutputConstruct" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://SendingMail.sendmaildetails" />
      <s:import namespace="http://SendingMail.SendMailOutputConstruct" />
      <s:element name="Operation_1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:SendMailInput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Operation_1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s2:SendingMail" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://SendingMail.sendmaildetails">
      <s:element name="SendMailInput">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="To" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="From" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="Body" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="Cc" nillable="true" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="Path" nillable="true" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://SendingMail.SendMailOutputConstruct">
      <s:element name="SendingMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MailSend">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MailStatus" type="s:string" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Operation_1SoapIn">
    <wsdl:part name="parameters" element="tns:Operation_1" />
  </wsdl:message>
  <wsdl:message name="Operation_1SoapOut">
    <wsdl:part name="parameters" element="tns:Operation_1Response" />
  </wsdl:message>
  <wsdl:portType name="SendMail2User_ServiceSoap">
    <wsdl:operation name="Operation_1">
      <wsdl:input message="tns:Operation_1SoapIn" />
      <wsdl:output message="tns:Operation_1SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendMail2User_ServiceSoap" type="tns:SendMail2User_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Operation_1">
      <soap:operation soapAction="http://tempuri.org/SendMail2User_Service/Operation_1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendMail2User_ServiceSoap12" type="tns:SendMail2User_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Operation_1">
      <soap12:operation soapAction="http://tempuri.org/SendMail2User_Service/Operation_1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendMail2User_Service">
    <wsdl:port name="SendMail2User_ServiceSoap" binding="tns:SendMail2User_ServiceSoap">
      <soap:address location="http://10.1.35.22/SendMail2User_WebService/SendMail2User_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="SendMail2User_ServiceSoap12" binding="tns:SendMail2User_ServiceSoap12">
      <soap12:address location="http://10.1.35.22/SendMail2User_WebService/SendMail2User_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>